.wrapper{
  width: 100%;
  font-family: Arial;
  font-size: 10px;
}

.invoiceTable{
  position: relative;
}
.logoImg{
  width:150px;
}

.thead-blue,
.tcell-blue{
  background-color: rgb(209,219,241);
}

.fillBottom{
  height: 100%;
}

.pdfHeader{
  display: table-header-group;
}

.pdfFooter{
  font-family: Arial;
  font-size: 10px;
  bottom:1rem;
  left: 50%;
}
