.wrapper{
  font-family: Arial;
  font-size: 10px;
}

.invoiceTable{
  position: relative;
}
.logoImg{
  width:150px;
}

.thead-blue,
.tcell-blue{
  background-color: rgb(209,219,241);
}

.fillBottom{
  height: 100%;
}

.pdfHeader{
  display: table-header-group;
}


.pdfFooter,.pFoot{
  font-family: Arial;
  font-size: 10px;
}

.pFoot{
  height: 1rem;
  position: absolute !important;
  bottom: .5cm;
  left: 0;
}
